	/* Mixins */
@gaveca: #ef3e56;
@font: "Helvetica Neue", Helvetica, Arial, sans-serif;
@tittel: 2.5em;
.border-radius{
	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
}

.background-gradient-hover{
	background: -webkit-linear-gradient(darken(hsl(352,85%,59%), 10%), darken(hsl(352,85%,59%), 20%) ); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(darken(hsl(352,85%,59%), 10%), darken(hsl(352,85%,59%), 20%) ); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(darken(hsl(352,85%,59%), 10%), darken(hsl(352,85%,59%), 20%) ); /* For Firefox 3.6 to 15 */
	background: linear-gradient(darken(hsl(352,85%,59%), 10%), darken(hsl(352,85%,59%), 20%)); /* Standard syntax */
}

/****************************/

/* Common */

a {
	color:#fff !important;
	text-decoration:none !important;
}

a:active, a:visited{
	color:#fff !important;
	text-decoration:none !important;
}

a:hover{
	color:inherit;
	text-decoration: none;
}

.btn.btn-danger{
	background-color: @gaveca;
	color: #fff;
}

.pages{
	padding: 1em 0;
	font-size:1.3em;
}

body{
	font-family: @font;
	background-color:#000;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom:1em;
}

.content{
	max-width:960px;
	margin: 0 auto;
}

/* Nav */
#logo{
	position: absolute;
	top:0px;
	margin-top:10px;
	z-index:9999;
}

.navbar-default {
	background-color: transparent;
	background-image:none;
	border-color: transparent;
	box-shadow:none;
	-webkit-box-shadow:none;
}

.navbar-default .navbar-toggle {
	border-color: darken(@gaveca, 30%);
}

.navbar-toggle {
	background-color: darken(@gaveca, 20%) !important;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.menu-row{
	background-color: @gaveca;
	margin-top:1em;
	padding:0.5em 0;
	top:0;
	position:absolute;
	width:100%;
	z-index: 9998;
	margin-left: 0px !important;
	margin-right:0px !important;
	height: 55px;
}

.navbar-default .navbar-collapse {
	border-color: transparent;
}

.nav.nav-pills {
	width: 100%;
	margin: 0 auto;
	background-color: @gaveca !important;	
	opacity: 0.95;
}

.nav-pills>li {
	float: none;
	padding: 0.1em 0;
	font-size: 1.5em;
	text-transform:uppercase;
}

.nav-pills>li a {
	color: #fff;
}

.nav-pills>li a:hover{
	background-color: darken(@gaveca, 20%);
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
background-color: darken(@gaveca, 20%);
}

/* Search  */
	
	#search.input-group{
		position: fixed;
		z-index: 9999;
		right: 100px;
		width: 400px;
		top: 80px;
		display:none;
	}

/* Bestselger */


#front .container{
	background-image: url(../images/frontMobil.jpg);
	background-position: top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:scroll;
	padding-bottom:100%;
	margin-left:2em;
	margin-top:2em;
	 -webkit-animation: fadein 2s; /* Safari and Chrome */
    -moz-animation: fadein 2s; /* Firefox */
    -ms-animation: fadein 2s; /* Internet Explorer */
     -o-animation: fadein 2s; /* Opera */
    animation: fadein 2s;
}

 		@keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

        /* Firefox */
        @-moz-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

        /* Safari and Chrome */
        @-webkit-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }


        

#front-bestselger{
	font-size:1.5em;
	color: #fff;
	position:relative;
	top:3.8em;
	width:6.5em;
	margin-left:	3.5em;
}

#front-tittel{
	font-size:2em;
	color: #fff;
	position:relative;
	top:3em;
	width:8em;
}

#front-forfatter{
	font-size:2em;
	color: @gaveca;
	position:relative;
	top:3.5em;
}

#front #bestill.btn{
	position: relative;
	bottom: -20em;
}

#front #bestill.btn a{
	color:#fff;
}

/****************/

/* 404 */

#notfound{
	background-color:#fff;
	color:#666;
	padding:15em 0;
}

#notfound p{
	line-height:2.5em;
	font-size:1.5em;
}

#notfound a{
	text-decoration: underline;
	color:#666;
}

/*******/


/* Bøker */

#boker h2{
	font-size: @tittel;
}

#boker{
	background-color: #e7e7e7;
	color: #333;
}

#boker .forfattere{
	display: inline-block;
}

#boker .publikasjoner{
	
	padding-bottom: 2em;
	position: relative;
	height:248px;
	left:0%;
}

#boker .publikasjoner img{
	bottom:0;
	position:absolute;
	margin-bottom: 2em;
}


/*********/

/* Mentor */

#mentor{
	background-color: #000;
	color: #fff;
	font-size: 1.8em;
	font-weight: 200;
	letter-spacing: 1px;
	line-height: 1.8em;
	margin-bottom: -1.5em;
}

#mentor h2{
	display:none;
}

/**********/


/* Forfattere */
#forfattere{
	background-color: #525252;
	color: #fff;
}

#forfattere h2{
	font-size: @tittel;
}

.forfatterMagen{
	background-color: @gaveca;
}

.colAuthor h4{
	font-size: 0.9em;
	color: #efefef;
	line-height: 1.5em;
	font-weight: 400;
	letter-spacing: 1px;
	width: 166px;
	text-align: center;
}

.colAuthor p{
	font-size: 0.8em;
	width: 166px;
	text-align: center;
	letter-spacing: 0.5px;
	line-height: 1.5em;
}

.colAuthor .btn-sm{
	position: relative;
	margin-left: 20%;
	letter-spacing:1px;
	font-weight:300;
}

#forfattere .colAuthors a{
	text-decoration: none;
	color: #fff !important;
}



/*********/


/* Forfatter i magen */

#gar-du-med-en-forfatter-i-magen{
	background-color: @gaveca;
	color:#fff;
	text-align:center;
	padding-bottom: 2em;
}

#gar-du-med-en-forfatter-i-magen h2{
	font-size:@tittel;
}

#gar-du-med-en-forfatter-i-magen a{
	color:#fff;
	text-decoration:underline;
}

#gar-du-med-en-forfatter-i-magen .content{
	letter-spacing:0.5px;
	font-size:0.9em;
	line-height:1.5em;
}

/* Bestille Bøker */
#bestille-boker{
	background-color: #222222;
	color: #efefef;
}

#bestille-boker h2{
	font-size: @tittel;
}

#bestille-boker .txtBestill{
	line-height: 2.5em;
	font-size: 1em;
	font-weight: 300;
	letter-spacing: 1px;
	padding-right: 4em;
}

#bestille-boker input, textarea{
	width: 400px;
	font-size:0.8em;
	letter-spacing: 0.5px;
	margin: 0.25em 0;
}

#bestille-boker input:not([type=submit]){
	height:2.5em;
}


#bestille-boker input[name=your-postnr] { 
    width: 120px;
	margin-bottom:0.7em;
	margin-right:0.5em;
}

#bestille-boker input[name=your-poststed] { 
    width: 270px;
}


#bestille-boker input[type=submit]{
	background: none;
	border: none;
	width: 60px;
	letter-spacing:1px;
}

#bestille-boker .btn{
	position: relative;
	left: 320px;
	font-size:1.1em;
}


/*********/

/* Kontakt Oss */
#kontakt{
	background-color: #e3e3e3;
	color:#666;
}

#kontakt h2{
	font-size: @tittel;
}

.google-maps .overlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:300px; /* your iframe height */
   top:300px;  /* your iframe height */
   margin-top:-300px;  /* your iframe height */
}

.google-maps iframe{
	margin-left: 0px;
width: 100%;
border-top: solid thick #525252 !important;
border-bottom: solid thick #525252 !important;
margin-right: 0px;
margin-bottom: -0.5em;
}



#kontakt h3{
	text-transform: uppercase;
	letter-spacing:1.5px;
}

#kontakt a{
	color: #666;
}

#kontakt p.pgaveca{
	font-weight:bold;
}

#kontakt .ansatte .vc_col-sm-6 h4{
	margin-bottom: 0.3em;
}

#kontakt .jT{
	font-weight:200;
	letter-spacing:1px;
}

/********/

/*   Footer   */

footer{
	border-top:	solid 0.2em #666;
	background-color:darken(#ccc, 30%);
	padding-bottom:1em;
	color: darken(white,3%);
}

	footer a{
		color: darken(white,3%);
		line-height:2em;
	}
	
	footer h4 {
		margin-bottom:1em;
		line-height:2em;
		border-bottom: solid 1px darken(white,10%);
		font-size:1em;
	}
	
	/*  Kolonner i Footer  */
	.footerCol{
		list-style: none;
		font-size:0.8em;
		text-transform:uppercase;
	}
	
	ul.footerCol{
		margin-left: -3.45em;
	}
	
	/*  Facebook  */
	.fb_iframe_widget {
		background-color: #fff;
	}

#bottomBar{
	background-color:rgba(0,0,0,0.7);
	color: #fff;
	padding:0.8em 0;
	letter-spacing:1px;
	font-weight:100;
	font-size:0.8em;
	
} 



/*	Forfatter & Bok - Single */

#theContent{
	padding-top: 10em;
	background-color:#fff;
	color: #666;
}

.contentInfo{
	margin-bottom:2em;
}


.contentDesc{
	font-size: 1.3em;
	letter-spacing: 0.5px;
	line-height: 1.8em;
	margin: 1em 0;
	font-weight:300;
}

/* Forfatter - Single */

#theAuthor h3{
	margin-bottom:0.6em;
}

.authorBooks{
	margin-bottom:2em;
}

/**********************/


/* Bok - Single */

.shoppingCart{
	text-align:right;
}

#theContent .btn-danger{
	width: 100%;
	height: 3.5em;
}

#theContent .attachment-post-thumbnail{
	text-align: center;
	width: 200px;
	margin: 0 auto;
	margin-bottom: 2em;
}


/* More Books */

.moreBooks{
	text-align:center;
}

.moreBook{
	margin-bottom:2em;
}

.moreBooksTitle{
	text-transform:uppercase;
	font-size:1.3em;
	font-weight:300;
	margin-bottom:2em;
}

.moreBookTitle{
	text-transform:uppercase;
	font-size:1em;
	font-weight:300;
	margin-top:0.5em;
	letter-spacing:0.5px;
}

/**************/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

/* Bestselger */

#front .container{
	background-image: url(../images/front.jpg);
	-webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  margin-left:auto;
  height:400px;
  padding-bottom:0;
}

#front #bestill.btn{
	bottom: -8em;
	margin-left:2.5em;
}

#front-bestselger{
	font-size:2.3em;
	top:2.5em;
	margin-left:	3.9em;
}

#front-tittel{
	font-size:2.5em;
	margin-left:1em;
	top:2.5em;
	width:8em;
}

#front-forfatter{
	font-size:2.5em;
	top:2.5em;
	margin-left:1em;
}

/*************/


/*     Nav    */
#backMenu{
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	padding-bottom: 1em;
	position: fixed;
	z-index: 9999;
}

.nav-pills > li {
display: inline-block;
font-size:0.65em;
}

.nav-pills > li a{
	border-radius: 0;
-webkit-border-radius:0;
-moz-border-radius:0;
}

.nav-pills > li:not(.active) a{
border-bottom: solid 0.1em rgba(255,255,255,0.00);
-webkit-transition: border-bottom-color 0.5s; 
-moz-transition: border-bottom 0.5s;
-o-transition:border-bottom 0.5s;
transition: border-bottom 0.5s;
}

.nav.nav-pills{
	text-align:right; 
}

.nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .nav-pills>li a:hover {
background-color: transparent;
border-bottom:solid thin #fff;
}

.nav-pills > li.active a{
background-color: transparent;
border-bottom:solid thin #fff;
}


.menu-row {
	position: fixed;
}

#logo{
	position: fixed;
}

/***************/


/* Bestille Bøker */



/******************/
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

/*     Nav    */
.nav-pills > li {
display: inline-block;
font-size:0.9em;
margin-top:-0.3em;
letter-spacing:0.5px;
}


/***************/

/* Bestselger */
#front .container{
  height:500px;
  
}

#front #bestill.btn{
	bottom: -10em;
	margin-left:3em;
}

#front-bestselger{
	font-size:2.8em;
	top:2.5em;
	margin-left:	3.9em;
}

#front-tittel{
	font-size:3em;
	margin-left:1em;
	top:2.5em;
	width:8em;
}

#front-forfatter{
	font-size:3em;
	top:2.5em;
	margin-left:1em;
}

/*************/


/* Kontakt */
#kontakt .adresser{
	border-right: solid thin #333;
}

#kontakt .ansatte{
	padding-left: 3em;
}

/************/


/* Bøker */
#boker {
	min-height:850px;
}
#boker .Container .mix{
	display:none;
}

#boker button.filter{
	background:none;
	border: none;
}

#boker .filter{
	font-family:@font;
	font-size:0.9em;
	font-weight:200;
	color: #666;
	text-transform:uppercase;
	padding:0.4em 1em;
}

#boker button.filter:hover{
	text-decoration: underline;
}

#boker .buttons{
	text-align: center;
	padding-bottom: 2em;
}

/* Bok - Single */
#theContent .btn-danger{
	width: 106px;
	height: 34px;
	margin-top:2em;
}

#theContent .attachment-post-thumbnail{
	text-align:left;
	width: auto;
	margin: 0 ;
}

/*****************/

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

/*     Nav    */
.nav-pills > li {
display: inline-block;
font-size:1em;
margin-top:-0.3em;
padding:0 1em;

letter-spacing:1px;
}


#front .container{
  height:650px;
  
}

#front #bestill.btn{
	bottom: -11em;
	margin-left:3.5em;
}

#front-bestselger{
	font-size:3.3em;
	top:2.5em;
	margin-left:	3.9em;
}

#front-tittel{
	font-size:3.5em;
	margin-left:1em;
	top:2.5em;
	width:8em;
}

#front-forfatter{
	font-size:3.5em;
	top:2.5em;
	margin-left:1em;
}


/* Bestselger */




/*************/


/*













.menu-row a{
	color: #fff;
}

.nav-pills>li:hover>a {
	background-color:darken(@gaveca, 20%);
}

.dropdown-menu{
	background-color:darken(#ccc, 30%);
}

.dropdown-menu>li>a{
	color: darken(white,3%);
	font-size:0.8em;
	letter-spacing: 0.05em;
	font-weight:300;
	text-transform:uppercase;
	line-height:2em;
}

.dropdown-menu>li>a:hover{
	background-color:lighten(@gaveca, 20%) !important;
}

.dropdown:hover .sub-menu {
	/*display:block;
}

	


/****************************/


/*


#front{
	width:100%;
	height:800px;
	overflow:hidden;
	margin-bottom:3em;
}




.hovedinnhold {
	margin-bottom: 2em;
}

.products .product{
	list-style:none;
	display:inline-block;
	height:28em;
	width: 200px;
}

.products .product a:hover{
	text-decoration:none;
}

.products .product a {
	color:#333;
}

.products .product a h3 {
	font-size:1.2em;
	width: 150px;
}

.products .product a .amount{
	font-size:1.8em;
	width: 150px;
	color: darken(hsl(352,85%,59%), 20%);
}

.add_to_cart_button{
	position:relative;
	top:2em;
}

.btn-primary {
background-color: @gaveca !important;
 border-color: darken(hsl(352,85%,59%), 20%) !important;
}

.home .btn-primary {
 width:150px;
 letter-spacing: 1px;
 visibility:hidden;
}


.home .products .product:hover .btn-primary{
	.background-gradient-hover;
	visibility:visible;
}

#mailingliste{
	width:100%;
	height:auto;
	padding:1em 0;
	background-color: @gaveca;
	text-align:center;
	font-size:1.2em;
}
*/

 }