/*	Variables	*/
@gaveca: #ef3e56;
@font: "Helvetica Neue", Helvetica, Arial, sans-serif;
@tittelMobile: 1.5em;
@tittel: 2.5em;

/*	Mixins	*/
.animate-2s{
	 -webkit-animation: fadein 2s; /* Safari and Chrome */
    -moz-animation: fadein 2s; /* Firefox */
    -ms-animation: fadein 2s; /* Internet Explorer */
     -o-animation: fadein 2s; /* Opera */
    animation: fadein 2s;
}
/****************************/

/* Mobile First */

a {
	color:#fff !important;
	text-decoration:none !important;
}

a:active, a:visited{
	color:#fff !important;
	text-decoration:none !important;
}

a:hover{
	color:inherit;
	text-decoration: none;
}

.btn.btn-danger{
	background-color: @gaveca;
	color: #fff;
}

.pages{
	padding: 1em 0;
	font-size:1em;
}

body{
	font-family: @font;
	background-color:#000;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom:1em;
}

.content{
	max-width:960px;
	margin: 0 auto;
	width: 90%;
}

/* Nav */
#logo{
	position: absolute;
	top:0px;
	margin-top:1.65em;
	z-index:9999;
	position: fixed;
}

#backMenu{
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	padding-bottom: 2em;
	position: fixed;
	z-index: 9998 !important;
}

.navbar-default {
	background-color: transparent;
	background-image:none;
	border-color: transparent;
	box-shadow:none;
	-webkit-box-shadow:none;
}

.navbar-default .navbar-toggle {
	border-color: darken(@gaveca, 30%);
}

.navbar-toggle {
	background-color: darken(@gaveca, 20%) !important;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.menu-row{
	background-color: @gaveca;
	margin-top:2em;
	top:0;
	position:fixed;
	width:100%;
	margin-left:0 !important;
	margin-right:0 !important;
	z-index: 9998;
	height: 55px;
}

.navbar-default .navbar-collapse {
	border-color: transparent;
}

.nav.nav-pills {
	width: 100%;
	margin: 0 auto;
	background-color: @gaveca !important;	
	opacity: 0.95;
}

.nav-pills>li {
	float: none;
	padding: 0.1em 0;
	font-size: 1.5em;
	text-transform:uppercase;
}

.nav-pills>li a {
	color: #fff;
}

.nav-pills>li a:hover{
	background-color: darken(@gaveca, 20%);
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background-color: darken(@gaveca, 20%);
}

/* Bestselger */

#front .container{
	background-image: url(../images/frontMobil.jpg);
	background-position: top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:scroll;
	padding-bottom:100%;
	margin-left:2em;
	margin-top:2em;
	.animate-2s();
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

#front-bestselger{
	font-size:1.5em;
	color: #fff;
	position:relative;
	top:3.8em;
	margin-left: 2em;
}

#front-tittel{
	font-size:2em;
	color: #fff;
	position:relative;
	top:3em;
	width:8em;
}

#front-forfatter{
	font-size:2em;
	color: @gaveca;
	position:relative;
	top: 3em;
	margin-left: 1em;
}

#front #bestill.btn{
	position: relative;
	bottom: -20em;
}

#front #bestill.btn a{
	color:#fff;
}

/****************/

/* 404 */

#notfound{
	background-color:#fff;
	color:#666;
	padding:15em 0;
}

#notfound p{
	line-height:2.5em;
	font-size:1.5em;
}

#notfound a{
	text-decoration: underline !important;
	color:#666 !important;
}

/*******/


/* Siste Nytt */

#siste-nytt h2{
	font-size: @tittelMobile;
}

#siste-nytt{
	background-color: #525252;
	color: #fff;
}

#siste-nytt .sisteNyttDato{
	font-style:italic;
	font-size:0.8em;
}

.nyhetRamme {
    background-color: rgba(0,0,0,0.8) !important;
}

/**************/


/* Bøker */

#boker h2{
	font-size: @tittelMobile;
}

#boker{
	background-color: #e7e7e7;
	color: #333;
}

#boker .forfattere{
	display: inline-block;
}

#boker .publikasjoner{
	padding-bottom: 3em;
	position: relative;
	/*height:300px;*/
}

#boker .publikasjoner.normal{
	height: 300px;
}

#boker .publikasjoner.wide{
	height: 200px;
}

#boker .publikasjoner img{
	bottom:0;
	position:absolute;
	margin-bottom: 2em;
	margin-left:-1.4em;
	width: 163px !important;
}

#boker .mix{
	display: none;
}

#boker .buttons{
	display:none;
}

#boker .container ul .publikasjoner{
	float:none;
	list-style:none;
	width:166px;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 3.5em;
}

#boker .bookTitle{
	position: absolute;
	left: -4%;
	width:166px;
	text-align:center;
	color: #666 !important;
	font-size: 0.9em;
	font-weight: 300;
	letter-spacing: 0.5px;
	vertical-align:top;
	display:inline-block;
}

#boker .normal .bookTitle{
	top: 280px;
}

#boker .wide .bookTitle{
	top: 190px;
}

/*********/

/* Mentor */

#mentor{
	background-color: #000;
	color: #fff;
	font-size: 1.8em;
	font-weight: 200;
	letter-spacing: 1px;
	line-height: 1.8em;
	margin-bottom: -1.5em;
}

#mentor h2{
	display:none;
	font-size:@tittelMobile;
}

/**********/


/* Forfattere */
#forfattere{
	background-color: #525252;
	color: #fff;
}

#forfattere h2{
	font-size: @tittelMobile;
}

.forfatterMagen{
	background-color: @gaveca;
}


.colAuthor{
	text-align: center;
  	margin-bottom: 5em;
 	 width: 250px;
  	margin: 0 auto;
  	padding-bottom: 3em;
}

.colAuthor h4{
	font-size: 0.9em;
	color: #efefef;
	line-height: 1.5em;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: center;
}

.colAuthor p{
	font-size: 0.8em;
	text-align: center;
	letter-spacing: 0.5px;
	line-height: 1.5em;
}

.colAuthor .btn-sm{
	position: relative;
	letter-spacing:1px;
	font-weight:300;
}

#forfattere .colAuthors a{
	text-decoration: none;
	color: #fff !important;
}

/*********/


/* Forfatter i magen */

#gar-du-med-en-forfatter-i-magen{
	background-color: @gaveca;
	color:#fff;
	text-align:center;
	padding-bottom: 2em;
}

#gar-du-med-en-forfatter-i-magen h2{
	font-size:@tittelMobile;
}

#gar-du-med-en-forfatter-i-magen a{
	color:#fff;
	text-decoration:underline;
}

#gar-du-med-en-forfatter-i-magen .content{
	letter-spacing:0.5px;
	font-size:0.9em;
	line-height:1.5em;
}

/* Bestille Bøker */
#bestille-boker{
	background-color: #222222;
	color: #efefef;
}

#bestille-boker h2{
	font-size: @tittelMobile;
}

#bestille-boker .txtBestill{
	line-height: 2em;
	font-weight: 300;
	letter-spacing: 1px;
}

#bestille-boker input, textarea{
	font-size:0.8em;
	letter-spacing: 0.5px;
	margin: 0.25em 0;
	color:#333;
}

#bestille-boker input:not([type=submit]){
	height:2.5em;
}


#bestille-boker input[name=your-postnr] { 
	margin-bottom:0.7em;
	margin-right:0.5em;
}

#bestille-boker input[type=submit]{
	border: none;
	letter-spacing:1px;
	color:#efefef;
	background-color:@gaveca;
}

#bestille-boker .btn{
	position: relative;
	left: 0px;
	font-size:1.1em;
}

#bestille-boker .bestille-boker-content{
	padding-left:1em;
}

/*********/

/* Kontakt Oss */
#kontakt{
	background-color: #e3e3e3;
	color:#666;
}

#kontakt h2{
	font-size: @tittelMobile;
}

.google-maps .overlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:300px; 
   top:300px;  
   margin-top:-300px;  
}

.google-maps iframe{
	margin-left: 0px;
	width: 100%;
	border-top: solid thick #525252 !important;
	border-bottom: solid thick #525252 !important;
	margin-right: 0px;
	margin-bottom: -0.5em;
}

#kontakt h3{
	text-transform: uppercase;
	letter-spacing:1.5px;
	font-size:1.1em;
}

#kontakt a{
	color: #666 !important;
}

#kontakt p.pgaveca{
	font-weight:bold;
}

#kontakt .ansatte .vc_col-sm-6 h4{
	margin-bottom: 0.3em;
	font-size:1em;
}

#kontakt .jT{
	font-weight:200;
	letter-spacing:1px;
}

#kontakt .kontakt{
	margin-left:10%;
}

/********/

/*   Footer   */

footer{
	border-top:	solid 0.2em #666;
	background-color:darken(#ccc, 30%);
	padding-bottom:1em;
	color: darken(white,3%);
}

footer a{
	color: darken(white,3%);
	line-height:2em;
}

footer h4 {
	margin-bottom:1em;
	line-height:2em;
	border-bottom: solid 1px darken(white,10%);
	font-size:1em;
}
	
/*  Kolonner i Footer  */
.footerCol{
	list-style: none;
	font-size:0.8em;
	text-transform:uppercase;
}

ul.footerCol{
	margin-left: -3.45em;
}

/*  Facebook  */
.fb_iframe_widget {
	background-color: #fff !important;
}

#bottomBar{
	background-color:rgba(0,0,0,0.7);
	color: #fff;
	padding:0.8em 0;
	letter-spacing:1px;
	font-weight:100;
	font-size:0.8em;
	
} 

/*	Forfatter & Bok - Single */

#theContent{
	padding-top: 10em;
	background-color:#fff;
	color: #666;
}

.contentInfo{
	margin-bottom:2em;
}

.contentDesc{
	font-size: 1.3em;
	letter-spacing: 0.5px;
	line-height: 1.8em;
	margin: 1em 0;
	font-weight:300;
}

/* Forfatter - Single */

#theAuthor h3{
	margin-bottom:0.6em;
}

.authorBooks{
	margin-bottom:2em;
}

/**********************/


/* Bok - Single */

.shoppingCart{
	text-align:right;
}

#theContent .btn-danger{
	width: 100%;
}

#theContent .attachment-post-thumbnail{
	text-align: center;
	width: 200px;
	margin: 0 auto;
	margin-bottom: 2em;
}


/* More Books */

.moreBooks{
	text-align:center;
}

.moreBook{
	margin-bottom:2em;
}

.moreBooksTitle{
	text-transform:uppercase;
	font-size:1.3em;
	font-weight:300;
	margin-bottom:2em;
}

.moreBookTitle{
	text-transform:uppercase;
	font-size:1em;
	font-weight:300;
	margin-top:0.5em;
	letter-spacing:0.5px;
}

/**************/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

/* Common */
.pages{
	font-size:1.3em;
}

/* Bestselger */

#front .container{
	background-image: url(../images/front.jpg);
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	margin-left:auto;
	height:400px;
	padding-bottom:0;
}

#front #bestill.btn{
	bottom: -8em;
	margin-left:2.5em;
}

#front-bestselger{
	font-size:2.3em;
	top:2.5em;
}

#front-tittel{
	font-size:2.5em;
	margin-left:1em;
	top:2.5em;
	width:8em;
}

#front-forfatter{
	font-size:2.5em;
}

/*************/


/*     Nav    */

.nav-pills > li {
	display: inline-block;
	font-size:0.65em;
}

.nav>li>a:focus{
	background-color: rgba(255,255,255,0);
}

.nav-pills > li a{
	border-radius: 0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
}

.nav-pills > li:not(.active) a{
	border-bottom: solid 0.1em rgba(255,255,255,0.00);
	-webkit-transition: border-bottom-color 0.5s; 
	-moz-transition: border-bottom 0.5s;
	-o-transition:border-bottom 0.5s;
	transition: border-bottom 0.5s;
}

.nav.nav-pills{
	text-align:right; 
}

.nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .nav-pills>li a:hover {
	background-color: transparent;
	border-bottom:solid thin #fff;
}

.nav-pills > li.active a{
	background-color: transparent;
	border-bottom:solid thin #fff;
}

.menu-row{
	padding: .5em 0;
}
/***************/

/* Siste Nytt */

#siste-nytt h2{
	font-size:@tittel;
}

/**************/

/* Bøker */

#boker .publikasjoner .mix-target{
	display: inline-block;
	width: 163px;
}

#boker .container ul .publikasjoner{
	width:218px;
	text-align:left;
}

#boker h2{
	font-size:@tittel;
}

#boker .wide{
	height: 300px;
}

#boker .wide .bookTitle{
	top: 180px;
}

/*********/

#mentor h2{
	font-size:@tittel;
}

#forfattere h2{
	font-size:@tittel;
}


/*	Forfattere	*/
.colAuthor{
 	width: 25%;
}

/*	Bestille Bøker	*/
#bestille-boker h2{
	font-size:@tittel;
}

#bestille-boker .txtBestill{
	line-height: 2.5em;
	font-size: 1em;
	font-weight: 300;
	letter-spacing: 1px;
	padding-right: 4em;
}
/*******************/

#gar-du-med-en-forfatter-i-magen h2{
	font-size:@tittel;
}

/* Kontakt */

#kontakt .kontakt{
	margin-left:0;
}

#kontakt h2{
	font-size:@tittel;
}

#kontakt h3{
	font-size:24px;
}

#kontakt .ansatte .vc_col-sm-6 h4{
	font-size:18px;
}
/***********/

}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

/*     Nav    */
.nav-pills > li {
display: inline-block;
font-size:0.9em;
margin-top:-0.3em;
letter-spacing:0.5px;
}

/***************/

/* Bestselger */
#front .container{
  height:500px;
}

#front #bestill.btn{
	bottom: -10em;
	margin-left:3em;
}

#front-bestselger{
	font-size:2.8em;
	top:2.5em;
}

#front-tittel{
	font-size:3em;
	margin-left:1em;
	top:2.5em;
	width:8em;
}

#front-forfatter{
	font-size:3em;
}

/*************/

/* Kontakt */
#kontakt .adresser{
	border-right: solid thin #333;
}

#kontakt .ansatte{
	padding-left: 3em;
}

/************/


/* Bøker */
#boker {
	min-height:850px;
}

#boker button.filter{
	background:none;
	border: none;
}

#boker .filter{
	font-family:@font;
	font-size:0.9em;
	font-weight:200;
	color: #666;
	text-transform:uppercase;
	padding:0.4em 1em;
}

#boker button.filter:hover{
	text-decoration: underline;
}

#boker .buttons{
	text-align: center;
	display:block;
}

#boker button.filter.active{
	text-decoration:underline;
}

#boker .container ul li{
	width:200px;
}

/* Bok - Single */
#theContent .btn-danger{
	width: 106px;
	margin-top:2em;
}

#theContent .attachment-post-thumbnail{
	text-align:left;
	width: auto;
	margin: 0 ;
}

/*****************/

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

/*     Nav    */
.nav-pills > li {
	display: inline-block;
	font-size:1em;
	margin-top:-0.3em;
	padding:0 1em;
	letter-spacing:1px;
}

#front .container{
  height:650px;
  
}

#front #bestill.btn{
	bottom: -11em;
	margin-left:3.5em;
}

#front-bestselger{
	font-size:3.3em;
	top:2.5em;
}

#front-tittel{
	font-size:3.5em;
	margin-left:1em;
	top:2.5em;
	width:8em;
}

#front-forfatter{
	font-size:3.5em;
}

/* Bøker */

#boker .container ul li{
	width:228px;
}

/*********/

 }